body{
	font-family:Century gothic;
	background-color:white;
}
.menu{
	width:100%;
	right:0px;
}
.menu a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-size:15px;
	line-height:40px;
}
.menu span{
	color:grey;
	border-bottom:3px solid grey;
	padding-bottom:15px;
}
.menu a:hover{
	color:grey;
	padding-bottom:15px;
	border-bottom:3px solid grey;
}
.menu li{
	display:block;
}
.banner{
	background:linear-gradient(to right,#5892ef,#53c6db);
	width:100%;
	left:0px;
}
.banner h1{
	text-align:center;
	color:white;
	font-size:30px;
}
.banner h3{
	text-align:justify;
	color:white;
	margin-left:5%;
	margin-right:5%;
}
.banner .btn{
	text-align:center;
}
.btn{
	width:100%;
	margin-top:2%;
}

#cadastrar{
	width:80%;
	text-align:left;
	cursor:pointer;
	padding:5%;
	border-radius:10px;
	font-size:20px;
	background-color:white;
	border:none;
}
#entrar{
	width:80%;
	text-align:left;
	cursor:pointer;
	padding:5%;
	border-radius:10px;
	font-size:20px;
	background-color:#130400;
	color:white;
	border:none;
	margin-top:2%;
	margin-bottom:3%;
}
.btn img{
	float:right;
}
/*funcao linear gradient - mistura duas cores*/
/*obs. padding faz aumentar a tela do lado*/
.artigos{
	width:100%;
	float:left;
	margin-top:5%;
}
.artigo{
	width:100%;
	background-color:#f5f5f5;
	text-align:left;
	border-radius:7px;
	margin-bottom:3%;
}
.artigo img{
	border-radius:7px 7px 0 0;
}
.artigoUm{
	padding:7%;
}
.artigoUm a{
	text-decoration:none;
	font-size:20px;
	color:black;
	font-weight:bold;
}
.artigoUm h4{
	font-size:15px;
	color:grey;
	margin-top:2%;
}
.artigoUm p{
	margin-top:5%;
	font-size:15px;
	color:grey;
	line-height:20px;
}
.textinho{
	width:100%;
	float:left;
	text-align:center;
	background-color:#130400;
}
.textinho h2{
	font-size:18px;
	color:#fff;
	font-weight:bold;
}
.textinho h3{
	color:#fff;
	font-size:14px;
}
.textinho form{
	margin-top:2%;
}
.textinho input{
	width:90%;
	padding:5%;
	background-color:#fff;
	color:#130400;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	border-radius:5px;
	margin-bottom:2%;
}
.rodape{
	width:100%;
	float:left;
	text-align:center;
	background:linear-gradient(to right,#5892ef,#53c6db);
}
.redesSociais img{
	margin-top:2%;
}
.redesSociais a{
	opacity:0.5;
	margin-right:2%;
}
.redesSociais a:hover{
	opacity:1;
}
.copyright{
	font-weight:bold;
	font-size:12px;
	color:white;
}

/*media types*/
/*socorro Deus*/

@media screen and (min-width:480px){
	.menu li{
		display:inline-block;
		padding: 0 0 0 25px;
	}
}
@media screen and (min-width:550px){
	#cadastrar, #entrar{
		width:35%;
		padding:3%;
	}
}
@media screen and (min-width:640px){
	.menu li{
		padding: 0 0 0 10%;
	}
	.artigo{
		width:49%;
		float:left;
		margin-right:2%;
	}
	.artigo:nth-child(2){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:0;
	}
	.artigo:nth-child(4){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:0;
	}
	.textinho h2{
		font-size:20px;
	}
	.textinho h3{
		font-size:16px;
	}
	.textinho input{
		width:60%;
		padding:3%;
		font-size:17px;
	}
	.copyright{
		font-size:13px;
	}
}
@media screen and (min-width:960px){
	.title{
		width:50%;
		float:left;
	}
	.banner h3{
		text-align:justify;
	}
	.title h3{
		margin-left:7%;
	}
	#cadastrar, #entrar{
		margin-top:4%;
		width:35%;
	}
	.textinho input{
		width:50%;
		padding:2%;
		font-size:19px;
	}
	.artigo{
		width:32%;
		float:left;
		margin-right:2%;
	}
	.artigo:nth-child(2){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:2%;
	}
	.artigo:nth-child(3){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:0;
	}
	.artigo:nth-child(4){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:2%;
	}
	.banner h3{
		font-size:20px;
	}
}
@media screen and (min-width:1200px){
	.banner h1{
		font-size:36px;
	}
	.banner h3{
		font-size:20px;
	}
	.title h3{
		margin-left:7%;
	}
	.artigo{
		width:23%;
		float:left;
		margin-right:2%;
	}
	.artigo:nth-child(2){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:2%%;
	}
	.artigo:nth-child(3){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:2%;
	}
	.artigo:nth-child(4){ /*irá aplicar o CSS apenas no segundo elemento*/
		margin-right:2%;
	}
	.textinho input{
		width:30%;
		padding:1%;
		font-size:17px;
	}
	#cadastrar, #entrar{
		margin-top:4%;
		width:25%;
		padding:2%;
	}
}
@media screen and (min-width:1280px){
	#cadastrar, #entrar{
		margin-top:2%;
		width:25%;
		padding:2%;
	}
	.banner h3{
		width:110%;
	}
}